{% extends 'PwebCompteBundle:Compte:index.html.twig' %}

{% block title %}Compte - Votre panier{% endblock %}

{% block compte %}

<table>
{% if success != '' %}
	<p>{{ success }}</p>
{% else %}
	<tr>
		<th>Libellé</th>
		<th>Prix</th>
	</tr>
	{% for produit in panier %}	
		<tr>
			<td>{{ produit.libelleProd }}</td>
			<td>{{ produit.prix }}</td>
		</tr>
	{% endfor %}
	<tr>
		<td>Total</td>
		<td></td>
	</tr>
	<tr>
		<td><a href="{{ path('pweb_compte_valider') }}"><button>Valider le panier</button></a></td>
		<td><a href="{{ path('pweb_compte_vider') }}"><button>Vider le panier</button></a></td>
	</tr>
{% endif %}

<table>

{% endblock %}