<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AllôQuoi!{% endblock %}</title>
        <link rel="stylesheet" media="screen" href="/Pweb/css/style.css" />
        {% block css %}{% endblock %}
        <!--<script type="text/javascript" src="public/js/produits.js"></script>-->
    </head>
    <body>
    	<div id="wrapper">
    	    <div id="entete">
	     		<h1><span>ENSIIE</span> AllôQuoi</h1>
	    	</div>

		    <div id="corps">

		    	<div class="haut">
			    	<div class="menu">
						<ul>
						    
						{% if app.request.get('_route') == 'pweb_accueil' %}
						<li class="active"><a href="{{ path('pweb_accueil') }}">Accueil</a></li>
						{% else %}
						<li><a href="{{ path('pweb_accueil') }}">Accueil</a></li>
					    {% endif %}
						{% if app.request.get('_route') == 'pweb_produits' %}
						<li class="active"><a href="{{ path('pweb_produits') }}">Produit</a></li>
						{% else %}
						<li><a href="{{ path('pweb_produits') }}">Produit</a></li>
					        {% endif %}					    
						

				    		{% if is_granted('ROLE_ADMIN') %}
						    {% if app.request.get('_route') == 'pweb_admin' %}
						    <li class="active"><a href="{{ path('pweb_admin') }}">Paramètres</a></li>
						    {% else %}
						    <li><a href="{{ path('pweb_admin') }}">Paramètres</a></li>
						{% endif %}
						
				    		{% elseif is_granted('ROLE_CLIENT') %}
						    {% if app.request.get('_route') == 'pweb_compte' %}
						    <li class="active"><a href="{{path('pweb_compte') }}">Mon compte</a></li>
						    {% else %}
						    <li><a href="{{ path('pweb_compte') }}">Mon Compte</a></li>
						    {% endif %}						

				    		{% else %}
						    {% if app.request.get('_route') == 'login' %}
						    <li class="active"><a href="{{path('login') }}">Connexion</a></li>
						    {% else %}
						    <li><a href="{{ path('login') }}">Connexion</a></li>
						    {% endif %}	
				    		{% endif %}
						</ul>
			    	</div>

			    	<div class="texte">
	           			{% block body %}{% endblock %}
			    	</div>
			    	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			    		<br/>
			    		<p class="spec"><a href="{{ path('logout') }}">Déconnexion</a></p>
			    	{% endif %}
				</div>
            </div>
        </div>
    </body>
    
<footer> 
    <div class="bas">
        <div class="clr"></div>	
    </div>   
    <div id="piedpage">
    </div>
</footer>
{% block javascripts %}{% endblock %}

</html>
