{% extends 'PwebCompteBundle:Admin:index.html.twig' %}

{% block title %}
	Admin - Commandes
{% endblock %}

{% block bodyadmin %}

	<br/>
	<div class="liste_choix2">
		<ul>
			<li><a href="{{ path('pweb_admin_cmd') }}">Voir les commandes</a></li>
		</ul>
	</div>
	<br/>

	<table style="margin:15px 15px">
		<tr>
			<th style="padding:10px">Acheteur</th>
			<th style="padding:10px">Date</th>
			<th style="padding:10px">Statut</th>
		</tr>
	
	{% for commande in commande_list %}		
		<tr>
			<td style="padding:7px">{{ commande.acheteur.nom }} {{ commande.acheteur.prenom }}</td>
			<td style="padding:7px">{{ commande.date|date('d/m/Y') }}</td>
			<td style="padding:7px">{{ commande.statut.libelleStat }}</td>
			<td style="padding:7px"><a href="{{ path('pweb_cmd_modif',{"id":commande.id}) }}"><button>Modifier le statut</button></a></td>
		<tr>
		
	{% else %}
		<tr>
			<td style="padding:7px">NULL</td>
			<td style="padding:7px">NULL</td>
		<tr>
		
		<br/><br/><p>Aucune commande enregistrée</p>
	{% endfor %}

	</table>
	
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/jquery-1.9.1.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('input').click(function(event){ 
				alert('Merci pour votre visite');
			}); 
		}); 
	</script>
{% endblock %}
