{% extends 'PwebCompteBundle:Admin:index.html.twig' %}

{% block title %}
	Admin - Utilisateurs
{% endblock %}

{% block bodyadmin %}

	<br/>
	<div class="liste_choix2">
		<ul>
			<li><a href="{{ path('pweb_util_add') }}">Ajouter un utilisateur admnistrateur</a></li>
			<li><a href="{{ path('pweb_util_remove') }}">Supprimer un utilisateur</a></li>
			<li><a href="{{ path('pweb_admin_util') }}">Voir tous les utilisateurs</a></li>
	</div>
	<br/>

	<table style="margin:15px 15px">
		<tr>
			<th style="padding:10px">Identifiant</th>
			<th style="padding:10px">Role</th>
		</tr>

	{% for user in user_list %}
		<tr>
			<td style="padding:7px">{{ user.username }}</td>
			{#<td style="padding:7px">{{ user.roles }}</td>#}
		<tr>
	
	{% else %}
		<tr>
			<td style="padding:7px">NULL</td>
			<td style="padding:7px">NULL</td>
		<tr>
		
		<br/><br/><p>Aucun utilisateur enregistré</p>
	{% endfor %}
	
	</table>

{% endblock %}