{% extends 'PwebCompteBundle:Admin:index.html.twig' %}

{% block title %}
	Admin - Utilisateur - Supprimer
{% endblock %}

{% block bodyadmin %}
	
	<br/>
	<div class="liste_choix2">
		<ul>
			<li><a href="{{ path('pweb_util_add') }}">Ajouter un utilisateur admnistrateur</a></li>
			<li><a href="{{ path('pweb_util_remove') }}">Supprimer un utilisateur</a></li>
			<li><a href="{{ path('pweb_admin_util') }}">Voir tous les utilisateurs</a></li>
		</ul>
	</div>
	<br/><br/>

	{% if error != '' %}
		<p>{{ error }}</p>
	{% endif %}

	{% if success != '' %}
		<p>{{ success }}</p>
	{% endif %}

	<div class="texte">
		<form method="post" {{ form_enctype(form) }} class="form">
	    	{{ form_errors(form) }}
	    	{{ form_rest(form) }}
	    	<input type="submit" value="Supprimer" />
		</form>
	</div>

{% endblock %}