{% extends '::base.html.twig' %}

{% block title %}
	Administrateur
{% endblock %}

{% block body %}

	<div class="liste_choix">
		<ul>
			<li><a href="{{ path('pweb_admin_util') }}">Utilisateur</a></li>
			<li><a href="{{ path('pweb_admin_prod') }}">Produit</a></li>
			<li><a href="{{ path('pweb_admin_cat') }}">Catégorie</a></li>
			<li><a href="{{ path('pweb_admin_mar') }}">Marque</a></li>
			<li><a href="{{ path('pweb_admin_cmd') }}">Commande</a></li>
		</ul>
	</div>
	<br/>

	{% block bodyadmin %}

		<h2>Bienvenue ... !</h2>
		{#<p>Vous pouvez, depuis cette interface, manipuler les données du site. Grâce à vos droits vous pouvez :</p> 
		<ul>
			<li>Ajouter ou supprimer un utilisateur</li>
			<li>Ajouter ou supprimer un produit</li>
			<li>Ajouter ou supprimer une catégorie de produits</li>
			<li>Ajouter ou supprimer une marque de produits</li>
			<li>Modifier le statut d'une commande (l'ajout et la suppression des commandes sont réservés au client acheteur</li>
		</ul>#}

	{% endblock %}

{% endblock %}