{% extends '::base.html.twig' %}

{% block title %} Les produits {% endblock %}

{% block body %}
  
  <div id="col_gauche">
    <div id="tri">
      <h4>Trier par :</h4>
      <select name="tri">
        <option selected="default">Trier par prix</option>
        <option value="{{ path('tri_prod', {'id': 'plop','type': 'cr'}) }}">Prix croissant</option>
        <option value="{{ path('tri_prod', {'id': 'plop', 'type': 'de'}) }}">Prix decroissant</option>
      </select>  
      <div id="test"></div>    
    </div>
    <div id="marques">
      <h4>Marques</h4>
      {% for m in marque %}
          <ul class="choose_marq"><a href="{{ path('tri_prod', {'id': m.id, 'type': 'mar'}) }}"> {{ m.libelleMar }}</a></ul>
      {% endfor %}      
    </div>
    <div id="categories">
      <h4>Catégories</h4>
      {% for c in cat %}
          <ul class="choose_cat"><a href="{{ path('tri_prod', {'id': c.id, 'type': 'cat'}) }}"> {{ c.libelleCat }}</a></ul>
      {% endfor %}      
    </div>

  </div>

  <div id="col_prod">
	
  	<h3>Vous êtes dans la section des produits</h3>
    <h4>C'est ici que vos petits yeux vont briller de mille feux</h4>
    
    <div class="liste_prod">

      {% for p in prod %}
      <ol id="{{ p.id }}">
        <li class="test">
          <ol>
            <img src="{{ p.imageMin }}" alt="{{ p.libelleProd }}" class="img_prod"/>
          </ol>
          <ol>
            <p>{{ p.libelleProd }}</p>
          </ol>
          <ol>
            <button type="button" class="btn_voir_prod" style="background:url({{ asset('icons/loupe-icone-4171-32.png') }})" 
                data-path="{{ path('info_produits', {'idProd': p.id}) }}"/>
          </ol>
          <ol>
            <button type="button" class="btn_ajout_prod" style="background:url({{ asset('icons/Shopping_basket_add_Icon_32.png') }})" {#data-path="{{ path('ajout_produit', {'idProd': p.id}) }}"#}/>
          </ol>
          <ol>
            <p> Prix : {{ p.prix }} €</p>
          </ol>
        </li> 
      </ol>   
      {% endfor %}

    </div>

  </div>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/jquery-1.9.1.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/produits.js') }}" ></script>
  <script type="text/javascript" src="{{ asset('js/jquery.elevateZoom-2.5.5.min.js') }}" ></script>
{% endblock %}
