{% extends '::base.html.twig' %}

{% block title %} Les produits {% endblock %}

{% block body %}
	
	<h3>Vous êtes dans la section des produits</h3>
  <h4>C'est ici que vos petits yeux vont briller de mille feux</h4>
  
  <div class="liste_prod">
  {% for p in prod %}
  <ol>
    <li>
      <ol><img src="{{ p.image }}" alt="{{ p.libelleProd }}" class="img_prod"/> </ol>
      <ol><input type="button" value="Voir" class="btn_voir_prod"/></ol>
      <ol><input type="button" value="Ajouter au panier" class="btn_ajout_prod"/></ol>
    </li> 
  </ol>  
  {% endfor %}
  </div>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/jquery-1.9.1.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/produits.js') }}" ></script>
  <script type="text/javascript" src="{{ asset('js/jquery.elevateZoom-2.5.5.min.js') }}" ></script>
{% endblock %}
