{% extends '::base.html.twig' %}

{% block title %} Les produits {% endblock %}

{% block body %}
  
  <div id="col_gauche">
    <div id="tri">
      <h4>Trier par :</h4>
      <select name="tri">
        <option selected="default">Trier par prix</option>
        <option value="{{ path('tri_prod', {'id': 'plop','type': 'cr'}) }}">Prix croissant</option>
        <option value="{{ path('tri_prod', {'id': 'plop', 'type': 'de'}) }}">Prix decroissant</option>
      </select>  
      <div id="test"></div>    
    </div>
    <div id="marques">
      <h4>Marques</h4>
      <ul>
	  {% for m in marque %}
          <li><a href="{{ path('tri_prod', {'id': m.id, 'type': 'mar'}) }}" class="choose_marq"> {{ m.libelleMar }}</a></li>
	  {% endfor %}
      </ul>
      
    </div>
    <div id="categories">
      <h4>Catégories</h4>
      <ul>
      {% for c in cat %}
          <li><a href="{{ path('tri_prod', {'id': c.id, 'type': 'cat'}) }}" class="choose_cat"> {{ c.libelleCat }}</a></li>
      {% endfor %}
      </ul>
    </div>

  </div>

  <div id="col_prod">
	
  	<h3>Vous êtes dans la section des produits</h3>
    <h4>C'est ici que vos petits yeux vont briller de mille feux</h4>
    <br/>

    <div class="liste_prod">
      <ul>

        {% for p in prod %}
        <li id="{{ p.id }}" class="popup">
	  <span> <strong>{{ p.libelleProd }}</strong></span>
	  <span>- {{ p.prix }} € - </span>	  
          <img src="{{ p.imageMin }}" alt="{{ p.libelleProd }}" class="img_prod"/>
          <span> {{ p.libelleProd }} </span>
          <button type="button" class="btn_voir_prod" style="background:url({{ asset('icons/search_b.png') }})" onclick="window.open('{{ path('info_produits', {'idProd': p.id}) }}')"/>
          {% if is_granted('ROLE_CLIENT') %}
          <button type="button" class="btn_ajout_prod" style="background:url({{ asset('icons/add.png') }})" onclick="window.open('{{ path('pweb_compte_ajout', {"id": p.id}) }}')"/>
          {% else %}
          <button type="button" class="btn_ajout_prod" style="background:url({{ asset('icons/add.png') }})" onclick="window.open('{{ path('login') }}')"/>
          {% endif %}
        </li>

        {% endfor %}
      
      </ul>
    </div>

  </div>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/jquery-1.9.1.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/produits.js') }}" ></script>
  <script type="text/javascript" src="{{ asset('js/jquery.elevateZoom-2.5.5.min.js') }}" ></script>
{% endblock %}
