{% extends '::base.html.twig' %}

{% block title %} Les produits {% endblock %}

{% block css %} <link rel="stylesheet" media="screen" href="/Pweb/css/produits.css" /> {% endblock %}

{% block body %}


  
  <div class="col_img">
    <img src="{{ prod.image }}"/>
  </div>

  <div class="col_desc">
    <ul><h3> {{ prod.libelleProd }} </h3></ul>
    <ul><h4>Description</h4><p> {{ prod.description }} </p></ul>
    <ul><p> Prix : {{ prod.prix }} € </p></ul>
    <ul><p> Poids : {{ prod.poids }} gr.</p></ul>
    <ul><p> Date de sortie : {{ prod.dateSortie|date('d/m/Y') }} </p></ul>
    <ul>
      <button type="button" class="btn_ajout_prod" style="background:url({{ asset('icons/add.png') }})" onclick="window.open('{{ path('pweb_compte_ajout', {"id": prod.id}) }}')"/>
    </ul>
  </div>



{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/jquery-1.9.1.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/produits.js') }}" ></script>
  <script type="text/javascript" src="{{ asset('js/jquery.elevateZoom-2.5.5.min.js') }}" ></script>
{% endblock %}
